{% extends 'base.html' %}

{% block title %}
    Blog Home
{% endblock %}

{% block content %}
<article class="blog-post">

    <h2>Welcome to the Blog</h2>
<h1>Blog List</h1>
<a href="{% url 'blog_create' %}">Add New Blog</a>
<ul>
    {% for blog in blogs %}
        <li>
            <a href="{% url 'blog_detail' blog.id %}">{{ blog.title }}</a>
            - <a href="{% url 'blog_update' blog.id %}">Edit</a>
            - <a href="{% url 'blog_delete' blog.id %}">Delete</a>
        </li>
    {% endfor %}
</ul>



{% endblock %}

